
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}

body{
    background-image: linear-gradient(to right bottom, #fbccf3, #dfd0ff, #bfd4ff, #a0d8fe, #8cd9ee);
    background-attachment: fixed;
    background-repeat: space;
    display: flex;
    justify-content: center;
    align-content: center;
}

.App {
    color: #deb881;
    text-align: center;
    margin: 50px 0 50px 0;
    border-radius: 30px;
    width: 550px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.40);
    box-shadow: 9px 10px 32px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 9px 10px 32px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 9px 10px 32px 2px rgba(0,0,0,0.1);

}



h1{
    width: inherit;
    border-radius: 30px 30px 0 0;
    margin: 0;
    padding: 5px 0 0 5px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.50);
    font-size: 50px;
}

h3{
    font-size: 38px;
}

.form{
    padding: 25px 0 0 0;
}

input[type=text]{
    margin: 15px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.50);;
    border-style: none;
    text-align: center;
    box-shadow: 9px 10px 34px -12px rgba(0,0,0,0.1);
    -webkit-box-shadow: 9px 10px 34px -12px rgba(0,0,0,0.1);
    -moz-box-shadow: 9px 10px 34px -12px rgba(0,0,0,0.1);
}

.list{
    padding: 5px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    box-shadow: 9px 10px 34px -12px rgba(0,0,0,0.1);
    -webkit-box-shadow: 9px 10px 34px -12px rgba(0,0,0,0.1);
    -moz-box-shadow: 9px 10px 34px -12px rgba(0,0,0,0.1);
    background-color: #deb881;
    color: white;
    font-size: 18px;
    border-style: none;
    border-radius: 15px;
    width: 75px;
    height: 40px;
}


input[type="checkbox"] {
    opacity: 0;
}

.line{
    text-decoration: line-through;
}

.noline{
    text-decoration: none;
}

.listitem{
    padding: 10px 0 0 0;
    margin: 20px 0 0 0;
    height: 50px;
    width: 350px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 9px 10px 34px -12px rgba(0,0,0,0.1);
    -webkit-box-shadow: 9px 10px 34px -12px rgba(0,0,0,0.1);
    -moz-box-shadow: 9px 10px 34px -12px rgba(0,0,0,0.1);
    font-size: 24px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.svg{
    opacity: 0.35;
    padding-top: 10px;
}

.svgEnd{
    position: relative;
}

.cleardiv{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: inherit;
    margin-bottom: -15px;
}

.clear{
    margin: 15px 0 0 0;

}

.message{
    font-size: 24px;
    margin: 10px 0 15px 0
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
